body{
  background: url(component/Profil/back.jpg);
}
.photo{
    border: 2px solid black;
  height: 20%;
  width: 20%;
text-align: center;
margin: auto;
}
.nom{
display: flex;
justify-content: center;

}
.adress{
    display: flex;
   justify-content: center;

}
.contain{
border: 1px solid rgb(255, 255, 255);
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: rgba(138, 164, 164, 0.582);
position: absolute;
width: 500px;
height: 500px;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.nom h3:first-child{
font-weight: lighter;
text-decoration: underline;
}
.adress h3:first-child{
  font-weight: lighter;
  text-decoration: underline;
}